* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ebecef;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.content {
  width: 95%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  margin: 1rem auto 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.button {
  background-color: #6c79cb;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem;
  cursor: pointer;
}

.button:hover {
  color: #fff;
}